.movies img {
    width: 120px;
}

.comics img {
    width: 120px;
}

#banner img {
    width: 120px;
}

#banner {
    display: inline-block;
}

body {
    font-family: sans-serif;
}

.highlight {
    background-color: orange;
    border: solid, 2px gray;
}