<!doctype html>
<html>
<head>
  <link href='/static/css/flix2comics.css' rel="stylesheet" type="text/css">
  <script src="http://code.jquery.com/jquery.js"></script>

  <title>{%block title %} {% endblock %}</title>
</head>

<body>
    <div id="banner"><img src="/static/images/tremlab.jpg"><h1>flix2comix</h1><h3>by tremlab</h3></div>
    <ul>
        {% for message in get_flashed_messages() %}
            <li>{{ message }}</li>
        {% endfor %}
    </ul>

{% block content %} 
        put your content here 
{% endblock %}

{% if "user_id" in session %}
  <br>
  <br>
  <form action="/logout" method="get">
    <button type="submit" id="logout" value="Logout">Logout</button>
  </form>
{% else %}
  <form action="/login" method="get">
    <button type="submit" id="login">Login</button></a>
  </form>
  <form action="/register" method="get">
    <button type="submit" id="register">Sign Up</button></a>
  </form>
{% endif %}
<script src='/static/js/flix2comics.js'></script>
</body>
</html>







<!-- for book covers: -->

<!-- https://openlibrary.org/dev/docs/api/covers -->
<!-- http://images.amazon.com/images/P/PASTE_ISBN_NUMBER_HERE.01.20TRZZZZ.jpg -->