{% extends 'base.html' %}
{% block title %}flix2comix -  Your Comic!{% endblock %}

{% block content %}

    <h2>We recommend you read: </h2>
    <h1>{{ comic.title }}</h1>
    <p>by: {{ comic.author }}</p>
    <img src="http://covers.openlibrary.org/b/isbn/{{ comic.isbn10 }}-L.jpg">
    {% if comic.artist %}
    <p>art by: {{ comic.artist }}</p>
    {% endif %}
    <p>publisher: {{ comic.publisher }}</p>
    <div id="blurb">
        <p>{{ comic.summary }}</p>
    </div>

      <form action="/comic" method="POST">
        <button type="submit" id="login">Another Book!</button></a>
      </form>

{% endblock %}