{% extends 'base.html' %}
{% block title %}flix2comix -  Your Comic!{% endblock %}

{% block content %}

    <h2>We recommend you read: </h2>
    <h1>{{ comic.title }}</h1>
    <img src="http://covers.openlibrary.org/b/isbn/{{ comic.isbn10 }}-L.jpg">
    <p>{{ comic.author }}</p>
    <p>{{ comic.artist }}</p>
    <p>{{ comic.publisher }}</p>
    <div id="blurb">
        <p>{{ comic.summary }}</p>
    </div>

      <form action="/comic" method="POST">
        <button type="submit" id="login">Another Book!</button></a>
      </form>
        <form action="/movies" method="get">
        <button type="submit" id="register">Rate More Movies</button></a>
      </form>

{% endblock %}