{% extends 'base.html' %}
{% block title %}flix2comix -  Welcome{% endblock %}

{% block content %}


    <p>Let's find you a comic!</p>

    <p>For whatever reason, you've come this far in life without
        ever reading a comic book. It's OK!  We're here to help.</p>
    <p>If you don't mind taking a moment to rate a few movies, 
        we will be happy to find you an awesome little comic
        in your wheelhouse.</p>
    <p>And don't worry - none of these are part one of an epic 50 year-long
        series where you need to know an elaborate backstory to understand what 
        the heck is going on. ;) We will offer a simple, self-contained 
        (award-winning! amazing!!!) graphic novel to try out.</p>

    <h3>Comics are for grownups too!</h3>

    Please login/signup below to get started.

{% endblock %}